
:root {
    --1: rgb(0, 0, 0);
    --2: rgb(255, 255, 255);
    --3: rgb(31, 132, 22);
    --4: rgb(190, 39, 39);

    --f1: 60px;
    --f2: 100px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--1);

    display: flex;
    flex-direction: column;

}

                    /* header */

/* layout */

header {
    height: 15vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* style */

header {
    font-size: var(--f1);
    color: var(--2);
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: var(--2);
    text-decoration: none;
}

                    /* main */

/* layout */

main {
    display: flex;
    justify-content: space-evenly;
}

                    /* aside */
/* layout */

aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style */

aside {
    font-size: var(--f1);
}

.yes a {
    color: var(--3);
}

.no a {
    color: var(--4);
}

/* hover */

.yes a:hover {
    border-bottom: 1px solid var(--3);
}

.no a:hover {
    border-bottom: 1px solid var(--4);
}

                    /* section */

section {
    height: 70vh;
    width: 60vw;
}

img {
    height: 100%;
    max-height: 70vh;
    width: 60vw;
    object-fit: contain;
}

                    /* slideshow */

.img {
    position: absolute;
    top: 50;
    left: 50;
    height: 100%;
    max-height: 70vh;
    width: 60vw;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.active {
    opacity: 1;
}

/* nav button {
    background-color: #fff;
    border: none;
    color: #000;
    font-size: 1.5rem;
    padding: ;
    cursor: pointer;
    width: 5px;
    height: 5px;
}

.slideshow-button {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0 10px;
    cursor: pointer;
} */

/* img{
    position: relative;
    z-index: 1;
} */

/* nav {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
} */

                    /* footer */

/* layout */

footer {
    height: 15vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* style */

footer {
    font-size: var(--f1);
    color: var(--2);
}



